{{form.non_field_errors}}

{% for elem in form.visible_fields %}
	<div class="form-group">
		<label for="{{elem.id_for_label}}">
			{% if elem.field.required %} <span class="text-danger">*</span>{%endif%}
			<strong>{{elem.label}}</strong>
		</label>
		{{elem}}
		<span class="text-danger">{{elem.errors}}</span>
		<span class="help-block">{{elem.help_text}}</span>
	</div>
{% endfor %}

{% for elem in form.hidden_fields %}
	{{elem}}
{% endfor %}
