{% load forum_filter %}

{% with forums_accessibles=categorie|forums_accessibles:user %}
{% if forums_accessibles %}
<div class="panel panel-default">

	<div class="panel-heading">
		<a href="{% url 'afficher_categorie' categorie.slug %}">{{categorie}}</a>
		{% if categorie.description %}
		<p>{{categorie.description|linebreaksbr}}</p>
		{% endif %}
	</div>

	<div class="panel-body">
		<div class="list-group">
		{% for forum in forums_accessibles %}
		{% with auth=user.is_authenticated forum_lu=forum|forum_lu:user %}
			<a href="{% url 'afficher_forum' categorie.slug forum.slug %}"
			   class="list-group-item
			   		  {% if auth and not forum_lu %}
			   		  	list-group-item-info
			   		  {% endif %}">

				<h4 class="list-group-item-heading">
					{% if auth and not forum_lu %}
						<i class="glyphicon glyphicon-exclamation-sign"></i>
					{% endif %}

					{{forum}} -
					<small> {{forum.topics_count}} Topic{{forum.topics_count|pluralize}}</small> -
					<small> {{forum.posts_count}} Post{{forum.posts_count|pluralize}}</small>
					
					{% if forum.last_post %}
						<span class="pull-right">{{forum.last_post.contenu|truncatechars:20}}</span>
					{% endif %}

					{% if forum.prive %}
					<small>
						<i class="glyphicon glyphicon-asterisk"></i>	
						Forum privé
						({% for groupe in forum.groupes_acces %} {{groupe.nom}} {% endfor %})
					</small>
					{% endif %}

				</h4>

				{% if forum.description %}
				<p class="list-group-item-text">{{forum.description|linebreaksbr}}</p>
				{% endif %}
			</a>
		{% endwith %}
		{% empty %}
			<p>Aucun Forum dans cette catégorie</p>
		{% endfor %}
		</div>
	</div>

</div>

{% endif %}
{% endwith %}