{% load forum_filter %}

<li class="media">
	<div class="media-left">
		<a href="#">
			<img class="media-object"
				 src="{{post.auteur.forum_avatar}}"
				 alt="Avatar de l'utilisateur {{post.auteur}}"
				 width=64 >
		</a>
	</div>

	<div class="media-body">
		<h4 class="media-heading">{{post.auteur}} <small>{{post.date_creation}}</small></h4>
		<p>{{post.contenu|linebreaksbr}}</p>
		
		
	</div>
</li>