{% extends 'djungoforum/squelette.html' %}

{% block contenu %}
	<h1>Afficher Categorie</h1>

	<!-- BREADCUM BEGIN -->
	<ol class="breadcrumb">
		<li><a href="{% url 'home_forum' %}">Forum</a></li>
		<li class="active">{{categorie}}</li>
	</ol>
	<!-- BREADCUM END-->


	{% include 'djungoforum/bricks/brick_afficher_categorie.html' %}

	
{% endblock contenu %}