{% extends 'djungoforum/squelette.html' %}

{% block contenu %}

	<h1>Liste des catégories</h1>


	<!-- BREADCUM BEGIN -->
	<ol class="breadcrumb">
		<li class="active"><a href="{% url 'home_forum' %}">Forum</a></li>
	</ol>
	<!-- BREADCUM END-->

	
	{% for categorie in categories %}
		{% include 'djungoforum/bricks/brick_afficher_categorie.html' %}
	{% endfor %}

{% endblock contenu %}