{% extends 'djungoforum/squelette.html' %}

{% block contenu %}
	<h1>Topic <strong>{{topic}}</strong></h1>

	<!-- BREADCUM BEGIN -->
	<ol class="breadcrumb">
		<li><a href="{% url 'home_forum' %}">Forum</a></li>
		<li><a href="{% url 'afficher_categorie' topic.forum.categorie.slug %}">{{topic.forum.categorie}}</a></li>
		<li><a href="{% url 'afficher_forum' topic.forum.categorie.slug topic.forum.slug %}">{{topic.forum}}</a></li>
		<li class="active">{{topic}}</li>
	</ol>
	<!-- BREADCUM END-->

	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#">{{topic}}</a>
		</div>

		<div class="panel-body">
			<ul class="media-list" id="post-list">

				<li class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object"
								 src="{{topic.auteur.forum_avatar}}"
								 alt="Avatar de l'utilisateur {{topic.auteur}}"
								 width=64 >
						</a>
					</div>

					<div class="media-body">
						<h4 class="media-heading">{{topic.auteur}} <small>{{topic.date_creation}}</small></h4>
						<p>{{topic.contenu|linebreaksbr}}</p>
					</div>
				</li>

				<hr>

				{% for post in posts %}
					{% include 'djungoforum/bricks/post.html' %}
				{% endfor %}
			</ul>
		</div>
	</div>





	<!-- PAGINATION BEGIN -->
	<div class="pagination">
	    <span class="step-links">
	        {% if posts.has_previous %}
	            <a href="?page={{ posts.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
	        </span>

	        {% if posts.has_next %}
	            <a href="?page={{ posts.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
	<!-- PAGINATION END -->





	<!-- RESPONSE BEGIN -->
	<div class="panel panel-default">
		<div class="panel-heading">
			Votre réponse...
		</div>

		<div class="panel-body">
			<form>
				{% csrf_token %}
				<div class="form-group">
					<textarea id="post-response" name="contenu" class="form-control" placeholder="Votre réponse ici..." rows="3" required></textarea>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-default pull-right poster">Valider</button>
				</div>
			</form>
		</div>
	</div>
	<!-- RESPONSE END -->
{% endblock contenu %}





{% block js_libre %}
	<script>
		// Récupération du csrftoken
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');


		// répondre via post
		$('.poster').click( function(e) {
			var lien = "{% url 'poster' topic.pk %}";
			var postdata = {
				'csrfmiddlewaretoken': csrftoken,
				'contenu': $('textarea[name=contenu]').val(),
			}

			$.post( lien, postdata, function() {
			})
			.done(function(data) {
				// Affichage du Post
				$('#post-list').append(data.post_html);
				//Vidage du textarea
				$('#post-response').val('');
			})
			.fail(function(data) {
				alert(data.responseText);
			})

			e.preventDefault();
		});
	</script>
{% endblock js_libre %}