{% extends 'djungoforum/squelette.html' %}

{% block contenu %}
	<h1>Nouveau topic <strong>{{forum}}</strong></h1>

	<!-- BREADCUM BEGIN -->
	<ol class="breadcrumb">
		<li><a href="{% url 'home_forum' %}">Forum</a></li>
		<li><a href="{% url 'afficher_categorie' forum.categorie.slug %}">{{forum.categorie}}</a></li>
		<li><a href="{% url 'afficher_forum' forum.categorie.slug forum.slug %}">{{forum}}</a></li>
		<li class="active">Nouveau Topic</li>
	</ol>
	<!-- BREADCUM END-->



	<div class="panel panel-default">
		<div class="panel-heading">
			Création d'un nouveau Topic
		</div>

		<div class="panel-body">
			<form method="post" action="">
				{% csrf_token %}

				{% include 'djungoforum/bricks/brick_formulaire.html' %}

				<div class="form-group">
					<button type="submit" class="btn btn-default pull-right poster">Valider</button>
				</div>
			</form>
		</div>
	</div>
{% endblock contenu %}