{% extends 'djungoforum/squelette.html' %}
{% load forum_filter %}

{% block contenu %}
	<h1>Forum <strong>{{forum}}</strong></h1>

	<!-- BREADCUM BEGIN -->
	<ol class="breadcrumb">
		<li><a href="{% url 'home_forum' %}">Forum</a></li>
		<li><a href="{% url 'afficher_categorie' forum.categorie.slug %}">{{forum.categorie}}</a></li>
		<li class="active">{{forum}}</li>
	</ol>
	<!-- BREADCUM END-->



	<div class="panel panel-default">
		<div class="panel-heading">

			{% if user.is_authenticated %}
			<div class="btn-group pull-right">
	            <a href="{% url 'nouveau_topic' forum.categorie.slug forum.slug %}" class="btn btn-xs btn-default btn-sm">
	            	<i class="glyphicon glyphicon-plus"></i>
	            	Nouveau topic
	            </a>
	        </div>
	        {% endif %}

			<a href="#">{{forum}}</a>

			{% if forum.prive %}
			<small>
				<i class="glyphicon glyphicon-asterisk"></i>	
				Forum privé
				({% for groupe in forum.groupes_acces %} {{groupe.nom}} {% endfor %})
			</small>
			{% endif %}

			{% if forum.description %}
			<p>{{forum.description|linebreaksbr}}</p>
			{% endif %}

		</div>

		<div class="panel-body">
			<div class="list-group">
			{% for topic in topics %}
			{% with auth=user.is_authenticated topic_lu=topic|topic_lu:user %}
				<a href="{% url 'afficher_topic' forum.categorie.slug forum.slug topic.slug %}"
				   class="list-group-item
				   	{% if topic.sticky %}
				   		list-group-item-warning
				   	{% elif auth and topic.nouveau and not topic_lu %}
				   		list-group-item-success
				   	{% elif auth and not topic_lu %}
				   		list-group-item-info
				   	{% endif %}
				   ">
					<div class="row">
						<div class="col-md-8">
							<h4 class="list-group-item-heading">
								{% if topic.sticky %}
									<i class="glyphicon glyphicon-bookmark"></i>
								{% endif %}

								{% if auth and not topic_lu %}
									<i class="glyphicon glyphicon-exclamation-sign"></i>
								{% endif %}

								{{topic}}


								{% if auth and not topic_lu %}
								<span class="pull-right">
									{% with nb_posts_non_lus=topic|topic_non_lu_count:user %}
									({{nb_posts_non_lus}} Post{{nb_posts_non_lus|pluralize}} non lu{{nb_posts_non_lus|pluralize}})
									{% endwith %}
								</span>
								{% endif %}

								{% if topic.last_post %}
									<span class="pull-right">{{topic.last_post.contenu|truncatechars:20}}</span>
								{% endif %}
							</h4>
						</div>
						<div class="col-md-2">
							<p>{{topic.posts_count}} Posts</p>
						</div>
						<div class="col-md-2">
							<p>{{topic.vues}} vues</p>
						</div>
					</div>
				</a>
			{% endwith %}
			{% empty %}
			<p>Aucun Topic dans ce Forum</p>
			{% endfor %}
			</div>
		</div>
	</div>





	<!-- PAGINATION BEGIN -->
	<div class="pagination">
	    <span class="step-links">
	        {% if topics.has_previous %}
	            <a href="?page={{ topics.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
	        </span>

	        {% if topics.has_next %}
	            <a href="?page={{ topics.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
	<!-- PAGINATION END -->
{% endblock contenu %}